body {
    height: 100vh; 
    background-color: rgba(0, 204, 255, 0.781);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color :rgb(73, 71, 71);
    text-align: center;
}

h2 {
    color: rgb(73, 71, 71);
    text-align: center;
}

#inputKota {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

#cekKota {
    padding: 5px 110px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #707070;
    font-size: 16px;
}

#cekKota:hover {
    background-color: #505050;
    cursor: pointer;
}

#aplikasiCuaca {
    text-align: center;
    background-color: #c9c9c9;
    padding: 30px;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}