* {
    margin: 0;
    padding: 0;
    font-family: fredoka one, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(40deg, #007bb3, #ffafb1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: white;
    padding: 40px 24px;
    border-radius: 10px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
    width: 450px;
}

h1 {
    text-align: center;
    margin-bottom: 16px;
    color: #333;
}

#taskContainer {
    display: flex;
    gap: 8px;
}

#newTaskInput {
    flex: 1;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
}

#addTask {
    width: 90px;
    border: none;
    background-color: #24b607;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#toDoContainer {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.toDoItem {
    cursor: pointer;
}

.toDoCompleted {
    text-decoration: line-through;
    color: gray;
}
